body {
	font-family: Arial;
}

br.clear {
	clear:both;
}
#content {
	width: 960px;
	margin: 0 auto;
	background: url('../img/election-alarm-bg.png') 50% 70px no-repeat;
	height: 500px;
}

h1 {
	font-size: 36px;
	text-transform: uppercase;
}

h1,h2 {
	text-align:center;
	margin: 5px 0;	
}

.mid {
	text-align:center;
	margin-top: 50px;
}

.score {
	width: 479px;
	display: inline;
	font-size: 24px;
	color: #FFF;
}

.score-text {
	
}

.bar {
	padding: 10px;
	display:block;
}

.rep {
	text-align:right;
	float: right;
	border-left: 1px solid #555;
}

.rep .bar {
	background-color: red;
	float:right;
}
.dem {
	float:left;	
	border-right: 1px solid #555;
}

.dem .bar {
	background-color: blue;
}

#signup {
	margin-top: 50px;
	text-align:center;
}


#footer {
	margin-top: 100px;
	text-align:center;
	color: #999;
	font-size: 12px;
}

#footer a {
	color: #000;
}